extends _base

block content
  h1 Hello There
  p Your yeoman generated static site project is ready!
  p Documentation available
    |  <a href="https://github.com/pollen-digital/generator-static">here</a>
